@import  url(https://fonts.googleapis.com/css?family=Coda);
@import  url(https://fonts.googleapis.com/css?family=Courgette);
@import  url(https://fonts.googleapis.com/css?family=Nunito);


*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Banner */
.banner {
  background-color: red;
  height: 200px;
  min-width: 340px;
  background-image: radial-gradient(#C10000, #680202);
}

/* Card */
.main {
  height: 310px;
  background-color: #FDFFFC;
  padding-top: 35px;
  margin-top: -50px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  border-radius: 10px 10px 5px 5px;
  -webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.46);
  -moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.46);
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.46);
  
}

/* Card Header */
h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: nunito;
    font-weight: 800;
    color: gray;
}

/* Card Body */
body {
  min-width: 340px;
  background-color: #FDFFFC;
}

/* Button contents Starts*/
img {
  width: 50%;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.button em {
  font-style: normal;
  color: white;
  font-size: 0.8rem;
}

section .center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.button {
  position: relative;
  background-color: #B3001B;
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-left: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.40);
  -moz-box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.40);
  box-shadow: 3px 4px 6px -4px rgba(0,0,0,0.40); 
}

span,
em,
i {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -5px;
  left: 0;
  color: #FDFFFC;
}


span {
  overflow: hidden;
}


.button em {
  top: 0;
  line-height: 60px;
}

.button i {
  top: 100%;
  line-height: 60px;
}

.button:hover em{
  top: -100%;
}

.button:hover i{
  top: 0%;
}

em,
i {
  transition: top 0.3s;
}

.button::before,
.button::after {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.button:hover::before,
.button:hover::after{
  opacity: 1;
  visibility: visible;
}

.button:hover::before{
  bottom: 80px;
}

.button:hover::after{
  bottom: 60px;
}

/* Button Content Ends */

/* Social Button */
.social{
    margin-left: 50px;
    margin-top:-15px;
}

/* Social Button Contents Starts */
.social a{
  background-color: #7B808B;
  color: #222;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  margin-left: 3px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.social a.icon:before{
  font-family: "FontAwesome", sans-serif;
  color: #fff;
  font-size: 20px;
}
.social a.facebook:before{
  content: '\f09a';
}
.social a.twitter:before{
  content: '\f099';
}
.social a.github:before{
  content: '\f09b';
}
.social a.linkedin:before{
  content: '\f08c';
}
.social a.youtube:before{
  content: '\f16a';
}
.social a.gitter:before{
  font-family: "Font Awesome 5 Free Solid";
  content: '\f426';
}

.social a span{
  background: #fff;
  color: gray;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 2px 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.social a span:before{
  content: "";
  width: 50px;
  height: 50px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
.social a:hover span{
  bottom: 50px;
  visibility: visible;
  opacity: 5;
  width: 100px;
}



/* hover over the icons now to see the tooltips! */
.social a.facebook:hover{
  background-color: #4183d7;
  color: #bfbfbf;
}
.social a.facebook span{
  color: #4183d7;
}
.social a.twitter:hover{
  background-color: #19b5fe;
  color: #fff;
}
.social a.twitter span{
  color: #19b5fe;
}
.social a.github:hover{
  background-color: #000;
  color: #fff;
}
.social a.github span{
  color: #000;
}
.social a.linkedin:hover{
  background-color: #255C99;
  color: #fff;
}
.social a.linkedin span{
  color: #255C99;
}
.social a.youtube:hover{
  background-color: #f22613;
  color: #fff;
}
.social a.youtube span{
  color: #f22613;
}

/*.social a.gitter:hover{
  background-color: #F0386B;
  color: #fff;
}
.social a.gitter span{
  color: #f22613;
} */

/* Social Button Content Ends */

/* Footer */
.footer{
    margin-left: 32%;
    margin-top: -25px;
}

/* Footer Contents */
.footer a,p{
    font-size: .9em;
    color: gray;
    margin-bottom: -10px;   
}

