body {
  background:#055388;
  text-align:center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

button {
  position:relative;
  margin-top:10%;
  background:#055388;
  border:1px solid white;
  padding:20px;
  font-size:0.9em;
  color:white;
  box-shadow:4px 4px 0px 0px white;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  letter-spacing:5px;
  text-transform:uppercase;
  
}

button:hover {
  left:4px;
  top:4px;
  box-shadow:none;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}
